*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.3;
    color: #031a30;
    background-color: hsl(260, 100%, 98%);
}

#root {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 2rem 1rem 1.5rem;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 30%;
        background-color: #9562FA;
        z-index: -1;
    }
}

.app {
    padding: 1.5rem 1rem 0rem;
    width: 100%;
    max-width: 800px;
    height: 80%;
    background-color: #fff;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.search-box {
    border: solid 1px #e6e6e6;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    .icon {
        padding-left: 1rem;
    }
    .search {
        padding: 1rem;
        width: 100%;
        border: none;
        background-color: transparent;
        &:focus,&:active {
            outline: none;
        }
    }
    .clear {
        padding-right: 1rem;
        color: #dc3545;
    }
}

.user-list {
    overflow: auto;
    height: 100%;
    .user-details {
        display: flex;
        align-items: center;
        border-bottom: solid 1px #f2f2f2;
        &:last-child {
            border: none
        }
        .profile {
            flex-shrink: 0;
            height: 3rem;
            width: 3rem;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-weight: bold;
            font-size: 1rem;
        }
        .content {
            width: 100%;
            padding: .5rem;
        }
        .actions {
            display: flex;
            .action {
                margin: 0 .5rem;
                cursor: pointer;
                &.favorite {
                    color: #ccc;
                    &.active {
                        color: #ffc107;
                    }
                }
                &.delete {
                    color: #dc3545;
                }
            }
        }
    }
}

.pagination {
    border-top: solid 1px #e6e6e6;
    display: flex;
    .pagination-item {
        cursor: pointer;
        flex: 1;
        padding: 1rem;
        text-align: center;
        font-weight: bold;
        &:first-child{
            border-right: solid 1px #e6e6e6;
        }
        &.disabled {
            opacity: .5;
        }
    }
}

.tabs {
    display: flex;
    .tab {
        flex: 1;
        padding: .75rem;
        text-align: center;
        position: relative;
        margin-bottom: .5rem;
        transition: all .25s ease;
        cursor: pointer;
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 100%;
            width: 0%;
            background-color: #9562FA;
            height: 3px;
            transition: all .25s ease;
        }
        &:last-child {
            &:after {
                left: 0%;
                right: 100%;
            }
        }
        &.active {
            color: #9562FA;
            &:after {
                left: 0%;
                width: 100%;
            }
            &:last-child {
                &:after {
                    width: 100%;
                    right: 0%;
                }
            }
        }
    }
}

.title {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
}

.modal-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .backdrop {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #031a30;
        opacity: .5;
        z-index: -1;
    }
    .modal {
        width: 100%;
        max-width: 380px;
        min-height: 300px;
        background-color: #fff;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        animation: open .25s ease;
        .modal-content {
            flex: 1;
            padding: 2rem;
            .icon {
                color: #ffc107;
            }
            
        }
        .modal-footer {
            display: flex;
            border-top: solid 1px #ccc;
            .option {
                flex: 1;
                padding: 1rem;
                text-align: center;
                cursor: pointer;
                &:first-child{
                    border-right: solid 1px #ccc;
                }
                &:last-child {
                    color: #dc3545;
                }
            }
        }
    }
}

@keyframes open {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}